<a href="https://colab.research.google.com/github/avinashbisht1410/supervised-learning-w-python/blob/master/Python_Tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON TUTORIAL

In [4]:
#Example 2.3
a = 5
b = 7
c = a + b
print("c = " , c)

d = 'x'
e = 'y'
print(d + e)

f = "Hello"
g = "World"
l = f + " " + g
print(l)

c =  12
xy
Hello World

In [5]:
#Example 2.4
for i in range(5):
    print(i)
print("Finished")

0
1
2
3
4
Finished

Example 2.5 shows a nested for loop example; again, the three print statements are at different structure levels.

In [6]:
#Example 2.5
for i in range(5):
    for j in range(5):
        x = i * j
        print(x)
    print("Inner Loop Finished")
print("Outer Loop Finished")

0
0
0
0
0
Inner Loop Finished
0
1
2
3
4
Inner Loop Finished
0
2
4
6
8
Inner Loop Finished
0
3
6
9
12
Inner Loop Finished
0
4
8
12
16
Inner Loop Finished
Outer Loop Finished

Example 2.6 shows a while loop example, which will continue as long as the test condition x < 5 is satisfied.

In [7]:
#Example 2.6
x = 0
while x < 5:
    x = x + 1
    print(x)
print("Finished")

1
2
3
4
5
Finished

Example 2.7 shows an if else example, which will execute different lines of the code depending on the value of x.

In [8]:
#Example 2.7
x = 60
if x>= 70:
    print("Excellent")
elif x>= 60:
    print("Good")
else:
    print("OK")

Good

Example 2.8 shows an example of a Python function, in which a function, add (x,y), is defined, and then the function is called. The function starts with the keyword def and has two input parameters, x and y. The function adds x and y together, passes the value to z, and then returns the value z.

In [9]:
#Example 2.8

def add (x,y):
    z = x + y
    return z

t = add(30, 20)
print(t)

50

Example 2.9 shows a Python example to find the maximum value in an array, also called a list. It first defines a function, called maxarray (xs), which has an array-type input parameter named xs. The function uses a for loop and an if statement to find out the maximum value. Then it creates an array and calls the function. Python uses [ and ] to refer to arrays and uses , to separate each element of the array.

In [12]:
#Example 2.9

def maxarray (xs):
    m = xs[0]
    for x in xs:
        if m < x:
            m = x
    return m

data = [0,1,2,3,4,5,6,3,4]
t = maxarray(data)
print(t)

6

Modify the Python program from Example 2.9 to create a function called minarray(xs) to find out the minimum value of an array.

In [14]:
def minarray (xs):
    m = xs[0]
    for x in xs:
        if m > x:
            m = x
    return m

data = [5,4,3,0,1,2,3,4,5,6,3,4]
t = minarray(data)
print(t)

0

Modify the Python program from Example 2.9 to create a function called sortarray(xs) to sort the array in ascending order.

Example 2.10 shows how to read text from the keyboard. In the print statement, a single quote (') and a double quote (") are the same.

In [15]:
#Example 2.10
print('What is your name? ')
x = input()
print('Hello ' + x + "!")

What is your name?
Avinash
Hello Avinash!